@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Sans:wght@300;400;500&display=swap');

:root {
  --color-primary: #2D5A27;
  --color-bg: #F7F5F0;
  --color-white: #FFFFFF;
  --border-radius: 10px;

  --font-main: 'DM Sans';
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main), sans-serif;
  background-color: var(--color-white);
  color: #333;
}

#app {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h3 {
  padding-bottom: 30px;
}

input {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg);
}

button {
  font-size: 15px;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  cursor: pointer;
}

.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
}

.name {
  margin-right: auto;
}

.price {
  margin-left: auto;
}
